# code: language=yaml
#
# Initialize $state with spec defaults.

{{- $xr := getCompositeResource . }}
{{- $spec := $xr.spec | default dict }}
{{- $metadata := $xr.metadata | default dict }}

{{- $name := $metadata.name | default "celld" }}
{{- $clusterName := $spec.clusterName | default $name }}
{{- $namespace := $spec.namespace | default "celld" }}
{{- $releaseName := $spec.releaseName | default $name }}
# renovate: datasource=github-releases depName=hops-ops/celld-chart
{{- $chartVersion := $spec.chartVersion | default "0.4.0" }}
{{- $chartRepository := $spec.chartRepository | default "https://hops-ops.github.io/celld-chart" }}
{{- $chartUrl := $spec.chartUrl | default "" }}
{{- $replicaCount := $spec.replicaCount | default 1 }}
{{- $managementPolicies := $spec.managementPolicies | default (list "*") }}

{{- $kindKey := printf "hops.ops.com.ai/%s" (lower $xr.kind) }}
{{- $defaultLabels := dict
  "hops.ops.com.ai/managed" "true"
  $kindKey $name
}}
{{- $labels := mergeOverwrite (dict) $defaultLabels ($spec.labels | default dict) }}
{{- $tags := mergeOverwrite (dict) $defaultLabels ($spec.tags | default dict) }}

{{- $providerConfigRefs := $spec.providerConfigRefs | default dict }}
{{- $helmFromRefs := $providerConfigRefs.helm | default dict }}
{{- $helmProviderConfigRef := $spec.helmProviderConfigRef | default dict }}
{{- $helmProviderConfigRef = dict
  "name" ($helmFromRefs.name | default ($helmProviderConfigRef.name | default $clusterName))
  "kind" ($helmFromRefs.kind | default ($helmProviderConfigRef.kind | default "ProviderConfig"))
}}
{{- $kubernetesProviderConfigRef := $providerConfigRefs.kubernetes | default dict }}
{{- $kubernetesProviderConfigRef = dict
  "name" ($kubernetesProviderConfigRef.name | default $clusterName)
  "kind" ($kubernetesProviderConfigRef.kind | default "ProviderConfig")
}}
{{- $awsProviderConfigRef := $providerConfigRefs.aws | default dict }}
{{- $awsProviderConfigRef = dict
  "name" ($awsProviderConfigRef.name | default $clusterName)
  "kind" ($awsProviderConfigRef.kind | default "ProviderConfig")
}}

{{- $image := $spec.image | default dict }}
# renovate: datasource=docker depName=denoland/celld registryUrl=https://ghcr.io
{{- $imageTag := $image.tag | default "0.4.0" }}
{{- $persistence := $spec.persistence | default dict }}
{{- $credentials := $spec.credentials | default dict }}
{{- $azurite := $spec.azurite | default dict }}
{{- $azuriteEnabled := false }}
{{- if hasKey $azurite "enabled" }}{{- $azuriteEnabled = $azurite.enabled }}{{- end }}
{{- $azuriteContainer := $azurite.container | default "celld" }}
{{- $azuritePersistence := $azurite.persistence | default dict }}
{{- $azuritePersistenceEnabled := true }}
{{- if hasKey $azuritePersistence "enabled" }}{{- $azuritePersistenceEnabled = $azuritePersistence.enabled }}{{- end }}
{{- $aws := $spec.aws | default dict }}
{{- $awsEnabled := false }}
{{- if hasKey $aws "enabled" }}{{- $awsEnabled = $aws.enabled }}{{- end }}
{{- if $azuriteEnabled }}
  {{- $awsEnabled = false }}
{{- end }}
{{- $awsForceDestroy := true }}
{{- if hasKey $aws "forceDestroy" }}{{- $awsForceDestroy = $aws.forceDestroy }}{{- end }}
{{- $awsRegion := $aws.region | default ($spec.region | default "us-east-2") }}
{{- $awsBucketName := $aws.bucketName | default (printf "hops-celld-%s" $name | lower) }}
{{- $awsRolePrefix := $aws.rolePrefix | default "" }}
{{- $awsPermissionsBoundaryArn := $aws.permissionsBoundaryArn | default "" }}
{{- $podIdentitySpec := $aws.podIdentity | default dict }}
{{- $podIdentityEnabled := true }}
{{- if hasKey $podIdentitySpec "enabled" }}{{- $podIdentityEnabled = $podIdentitySpec.enabled }}{{- end }}
{{- if not $awsEnabled }}{{- $podIdentityEnabled = false }}{{- end }}
{{- $awsCredsRef := $aws.credentialsSecretRef | default dict }}
{{- $awsCredsName := $awsCredsRef.name | default "" }}
{{- $xrNamespace := $metadata.namespace | default "default" }}
{{- $awsCredsNamespace := $awsCredsRef.namespace | default $xrNamespace }}
{{- $awsCredsKey := $awsCredsRef.key | default "credentials" }}
{{- if and $awsEnabled (not $podIdentityEnabled) (eq $awsCredsName "") }}
  {{- $awsCredsName = "aws-creds" }}
{{- end }}
{{- $awsCredsLocalName := "" }}
{{- if and $awsEnabled (ne $awsCredsName "") }}
  {{- $awsCredsLocalName = printf "%s-aws" $releaseName }}
{{- end }}
{{- $bucket := $spec.bucket | default "" }}
{{- if $azuriteEnabled }}
  {{- $bucket = printf "az://%s" $azuriteContainer }}
{{- else if $awsEnabled }}
  {{- $bucket = printf "s3://%s" $awsBucketName }}
{{- end }}
{{- $persistenceEnabled := true }}
{{- if hasKey $persistence "enabled" }}{{- $persistenceEnabled = $persistence.enabled }}{{- end }}

{{- $serviceName := $releaseName }}
{{- if not (contains "celld" $releaseName) }}
  {{- $serviceName = printf "%s-celld" $releaseName }}
{{- end }}

{{- $state := dict
  "name" $name
  "clusterName" $clusterName
  "namespace" $namespace
  "releaseName" $releaseName
  "chartVersion" $chartVersion
  "chartRepository" $chartRepository
  "chartUrl" $chartUrl
  "replicaCount" $replicaCount
  "managementPolicies" $managementPolicies
  "labels" $labels
  "tags" $tags
  "helmProviderConfigRef" $helmProviderConfigRef
  "kubernetesProviderConfigRef" $kubernetesProviderConfigRef
  "awsProviderConfigRef" $awsProviderConfigRef
  "serviceName" $serviceName
  "bucket" $bucket
  "endpoint" ($spec.endpoint | default "")
  "region" $awsRegion
  "xrNamespace" $xrNamespace
  "credentials" (dict
    "existingSecret" ($credentials.existingSecret | default "")
    "sharedCredentialsSecret" $awsCredsLocalName
    "sharedCredentialsKey" "credentials"
  )
  "serviceAccount" (dict
    "name" $serviceName
    "namespace" $namespace
  )
  "podIdentity" (dict
    "name" (printf "%s-celld" $name)
  )
  "aws" (dict
    "enabled" $awsEnabled
    "region" $awsRegion
    "bucketName" $awsBucketName
    "forceDestroy" $awsForceDestroy
    "rolePrefix" $awsRolePrefix
    "permissionsBoundaryArn" $awsPermissionsBoundaryArn
    "podIdentity" (dict
      "enabled" $podIdentityEnabled
    )
    "credentialsSecretRef" (dict
      "name" $awsCredsName
      "namespace" $awsCredsNamespace
      "key" $awsCredsKey
      "localName" $awsCredsLocalName
    )
  )
  "azurite" (dict
    "enabled" $azuriteEnabled
    "container" $azuriteContainer
    "persistence" (dict
      "enabled" $azuritePersistenceEnabled
      "size" ($azuritePersistence.size | default "2Gi")
      "storageClassName" ($azuritePersistence.storageClassName | default "")
    )
  )
  "image" (dict
    "repository" ($image.repository | default "ghcr.io/denoland/celld")
    "tag" $imageTag
    "pullPolicy" ($image.pullPolicy | default "IfNotPresent")
  )
  "persistence" (dict
    "enabled" $persistenceEnabled
    "size" ($persistence.size | default "10Gi")
    "storageClassName" ($persistence.storageClassName | default "")
    "existingClaim" ($persistence.existingClaim | default "")
  )
  "values" ($spec.values | default dict)
  "overrideAllValues" ($spec.overrideAllValues | default dict)
  "observed" (dict)
  "status" (dict)
}}
