# code: language=yaml
#
# Compute XR status from observed slices.

{{- $obs := $state.observed }}
{{- $namespaceReady := $obs.namespace.ready | default false }}
{{- $releaseReady := $obs.release.ready | default false }}
{{- $usageReady := true }}
{{- if and $namespaceReady $releaseReady }}
  {{- $usageEntry := get ($.observed.resources | default dict) "usage-celld-namespace" | default dict }}
  {{- $usageStatus := ($usageEntry.resource | default dict).status | default dict }}
  {{- $usageReady = false }}
  {{- range ($usageStatus.conditions | default list) }}
    {{- if and (eq .type "Ready") (eq .status "True") }}
      {{- $usageReady = true }}
    {{- end }}
  {{- end }}
{{- end }}

{{- $awsReady := true }}
{{- if $state.aws.enabled }}
  {{- $awsReady = $obs.bucket.ready }}
  {{- if $state.aws.podIdentity.enabled }}
    {{- $awsReady = and $awsReady $obs.podIdentity.ready }}
  {{- end }}
  {{- if ne ($state.aws.credentialsSecretRef.localName | default "") "" }}
    {{- $awsReady = and $awsReady $obs.awsCreds.ready }}
  {{- end }}
{{- end }}

{{- $bucketStatus := dict "name" "" "id" "" "ready" false }}
{{- $podIdentityStatus := dict "roleArn" "" "associationId" "" "ready" false }}
{{- if $state.aws.enabled }}
  {{- $bucketStatus = dict
    "name" $state.aws.bucketName
    "id" ($obs.bucket.id | default "")
    "ready" ($obs.bucket.ready | default false)
  }}
  {{- $podIdentityStatus = dict
    "roleArn" ($obs.podIdentity.roleArn | default "")
    "associationId" ($obs.podIdentity.associationId | default "")
    "ready" ($obs.podIdentity.ready | default false)
  }}
{{- end }}

{{- $state = set $state "status" (dict
  "ready" (and $namespaceReady $releaseReady $usageReady $awsReady)
  "release" (dict
    "name" $state.releaseName
    "namespace" $state.namespace
    "ready" $releaseReady
  )
  "service" (dict
    "name" $state.serviceName
    "namespace" $state.namespace
    "port" 8080
  )
  "bucket" $bucketStatus
  "podIdentity" $podIdentityStatus
) }}
