# code: language=yaml
#
# IAM AccessKey. Connection secret is patched into the celld namespace.

{{- if $state.aws.enabled }}
{{- $userName := printf "%s-s3" $state.name }}
{{- $accessKeyName := printf "%s-s3" $state.name }}
{{- if ne $state.observed.user.id "" }}
---
apiVersion: iam.aws.m.upbound.io/v1beta1
kind: AccessKey
metadata:
  name: {{ $accessKeyName }}
  annotations:
    {{ setResourceNameAnnotation "iam-access-key" }}
  labels: {{ $state.labels | toJson }}
spec:
  managementPolicies: {{ $state.managementPolicies | toJson }}
  forProvider:
    userRef:
      name: {{ $userName }}
    status: Active
  writeConnectionSecretToRef:
    name: {{ $state.aws.accessKeySecretName }}
  providerConfigRef:
    name: {{ $state.awsProviderConfigRef.name }}
    kind: {{ $state.awsProviderConfigRef.kind }}
{{- end }}

{{- if and $state.observed.user.ready $state.observed.accessKey.ready }}
---
apiVersion: protection.crossplane.io/v1beta1
kind: Usage
metadata:
  name: {{ $state.name }}-delete-s3-access-key-before-user
  annotations:
    {{ setResourceNameAnnotation "usage-s3-access-key-user" }}
  labels: {{ $state.labels | toJson }}
spec:
  replayDeletion: true
  of:
    apiVersion: iam.aws.m.upbound.io/v1beta1
    kind: User
    resourceRef:
      name: {{ $userName }}
  by:
    apiVersion: iam.aws.m.upbound.io/v1beta1
    kind: AccessKey
    resourceRef:
      name: {{ $accessKeyName }}
{{- end }}
{{- end }}
